*{ box-sizing: border-box; }



html, body{
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color-adjust: economy;
  color: $color_5;
}

table {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: .2em .5em;
}
