@import 'styles/_vars.scss';
@import 'styles/_mixins.scss';

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  'header'
  'main'
  'footer';
}

.header {
  grid-area: header;
  background-color: $color_5;
  color: white;
  padding: 20px 10px 0 10px;
}

.main {
  grid-area: main;
  padding: 10px;
}

.footer {
  grid-area: footer;
  background-color: $color_5;
  min-height: 60px;
  color: white;
}

.nav {

  li {
    display: inline-block;
  }

  button {
    @include resetButton();
    color: $color_4;
    cursor: pointer;
    padding: .2em .5em;
    border-radius: 6px 6px 0 0;
    min-width: 260px;
  }
}

button.active {
  color: $color_5;
  font-weight: 700;
  font-size: 20px;
  background-color: white;
}
