.title {
  font-size: 36px;
  font-weight: bold;
}

.fieldWrapper {
  margin: 1em 0;

  input {
    display: inline-block;
    width: 50px;
    margin: 0 1em;
  }
}


.table {
  thead td {
    padding-bottom: 1em;
    font-weight: 700;
  }

  td {
    border: 1px solid rgba(#333, .2);
  }
}
